{
  "useTabs": false,
  "tabWidth": 2,
  "printWidth": 60,
  "endOfLine": "auto",
  "semi": true,
  "trailingComma": "none",
  "arrowParens": "avoid",
  "bracketSpacing": true,
  "singleQuote": true
}
